form {
    display: block;
    margin-top: 0em;
}

ul {
    /* display: block;*/
    list-style-type: none;
    padding: 0;
    /*
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    */
}

/*
li {
}

table {
}

th {
}

tr {
}

td {
}
*/