.items * {
    --left-filter-vertical-margin: 12px;
    --filter-horizontal-margin: 15px;
}

#items-header-container {
    display: grid;
    grid: auto / 80% 20%;
}

/**** Items Filters ****/
/* .items-filters-toggle-container {
} */

.items-filters-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
}

.items-filters-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: var(--left-filter-vertical-margin) 0;
}

.items-filters-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.items-filter {
    margin: auto var(--filter-horizontal-margin);
}

.items-search-bar {
    text-align: right;
}

/**** Items Manage Menu Container *****/
#items-manage-container {
    display: flex;
    flex-flow: row nowrap;
}

/* #items-manage-menu-button {
} */