/* Local Variables */
.items * {
    --color-var: 0;
}

/* .items-layout {
} */


/* Filters */

.items-filters-container {
    background-color: var(--aph-back1);
}

/* .items-filters-left {
} */

/* .items-filters-right {
} */

.items-filter {
    border: 1px solid pink;
}

#items-manage-menu-button {
    color: var(--aph-text-light);
    border: 3px solid var(--aph-border);
}

.items-tab:hover {
    background-color: var(--aph-back2);
}

#items-manage-menu-button {
    background-color: var(--aph-purple);
}

#manage-menu-container {
    background-color: var(--aph-greya);
}

#manage-menu {
    background-color: var(--aph-back1);
}

.manage-menu-button-confirm {
    background-color: var(--aph-blue);
}

.manage-menu-button-deny {
    background-color: var(--aph-warning);
}

.manage-menu-button-grey {
    background-color: var(--aph-grey);
}

.items-display-container {
    background-color: var(--aph-light3);
}

/* Table */

/* .items-table-container {
    background-color: var(--aph-light1);
} */

/* .items-table {
} */

th {
    background-color: var(--aph-back2);
}

td {
    background-color: var(--aph-back1);
}