@media (prefers-color-scheme: light) {
    
}

@media (prefers-color-scheme: dark) {

}

/* Local Variables */
.items * {
    --color-var: 0;
}

/* .items-layout {
} */


/* Filters */

.items-filters-container {
    background-color: var(--aph-dark2);
}

/* items-filters-left and items-filters-right (The children, which are divs, of the items-fileters-container) */
.items-filters-container > div {
    border: 1px solid blue;
}

/* .items-filters-left {
} */

/* .items-filters-right {
} */

.items-filter {
    border: 1px solid pink;
}


/* Jump List */
/* .items-jump-list-container {
    background-color: var(--aph-dark2);
} */

/* .items-jump-list {
} */

/* .items-jump-list-element-container {
} */

/* .items-jump-list-element {
} */

.items-jump-list-element:visited {
    color: white;
}

/* ul {
} */

li {
    margin: 20px 50px;
}

/* Table */

/* .items-table-container {
    background-color: var(--aph-light1);
} */

/* .items-table {
} */

th {
    background-color: var(--aph-light3);
}

td {
    background-color: var(--aph-light2);
}