/* Local Variables */
.notifications * {
    --list-font-size: 24px;
}

ul {
    background-color: var(--aph-fore1);
}

li {
    font-size: var(--list-font-size);
    background-color: var(--aph-back2);
}
