/* Local Variables */
.people * {
    --color-var: 0;
}

/* .people-layout {
} */


/* Users */

.people-filters-container {
    background-color: var(--aph-back2);
}

.people-user-table-container {
    background-color: var(--aph-back1);
}

/* .people-user-table {
} */

/* Roles */

.people-role-list-container {
    background-color: var(--aph-back1);
}