:root {
    --aph-dark1: rgb(10, 10, 10);
    --aph-dark2: rgb(14, 14, 14);
    --aph-dark3: rgb(18, 18, 18);

    --aph-dark1a: rgba(10, 10, 10, 0.9);
    --aph-dark2a: rgba(14, 14, 14, 0.85);
    --aph-dark3a: rgba(18, 18, 18, 0.8);


    --aph-light1: rgb(220, 220, 220);
    --aph-light2: rgb(200, 200, 200);
    --aph-light3: rgb(180, 180, 180);



    --aph-text1: rgb(230, 230, 230);
    --aph-text2: rgb(210, 210, 210);
    --aph-text3: rgb(120, 120, 120);

    --aph-text-highlight: rgb(140, 207, 252);
}
/*
main {
    margin: 0px;
    border: none;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.apheleia {
    color: #EFEFEF;
}

.apheleia.large-area {
    background-color: #3a1a3b;
}

.apheleia.sub-area {
    background-color: #391841;
}

.apheleia.small-area {
    background-color: #37163b;
}

.aphelia.highlight {
    background-color: #f1cbee;
}

.apheleia.text {
    color: #EFEFEF;
}

h1.apheleia {
    font: 72px Arial, serif;
    color: #EFEFEF;
}

h2.apheleia {
    font: 48px Arial, serif;
    color: #EFEFEF;
}

button.apheleia {
    border: none;
    background-color: #37163b;
    transition: 0.2s;
}

button.apheleia:hover {
    background-color: #391841;
}*/