/* Keep the (unedited) default CSS properties for HTML elements in here. Also some extra notes on CSS. 
 * Since CSS has such an extensive number of properties, we probably won't log each avaliable value for each one.
 * This information is taken from w3schools.com
 * 
 * Notes:
 *     // This is not a valid comment in CSS
 *     /* This is a valid comment in CSS */
/*     .class {
 *     }
 *     #id {
 *     }
 *     div {
 *     }
 *
 *     Absolute Lengths
 *     cm centimeters
 *     mm millimeters
 *     in inches (1in = 96px = 2.54cm)
 *     px pixels (1px = 1/96th of 1in)
 *     pt points (1pt = 1/72 of 1in)
 *     pc picas (1pc = 12 pt)
 *     Pixels (px) are relative to the viewing device. For low-dpi devices, 1px is one device pixel (dot) of the display. For printers and high resolution screens 1px implies multiple device pixels.
 *
 *    Relative Lengths
 *    em   Relative to the font-size of the element (2em means 2 times the size of the current font)
 *    ex   Relative to the x-height of the current font (rarely used)
 *    ch   Relative to the width of the "0" (zero)
 *    rem  Relative to font-size of the root element
 *    vw   Relative to 1% of the width of the viewport
 *    vh   Relative to 1% of the height of the viewport
 *    vmin Relative to 1% of viewport's smaller dimension 	
 *    vmax Relative to 1% of viewport's larger dimension
 *    %    Relative to the parent element
 *    Tip: The em and rem units are practical in creating perfectly scalable layout!
 *    Viewport = the browser window size. If the viewport is 50cm wide, 1vw = 0.5cm.
 *    
 * Directory:
 *     Tags without default values
 *     Major tags <main>, <header>, <footer>, etc
 *     Containers <div>, <article>, etc
 *     Links <a>, <video>, <embed>, <form> etc
 *     Lists <li>, <ul>, <ol>
 *     Text <p>, etc
 */

/* The following tags do not have default CSS
input
*/

/* Major tags */
nav {
    display: block;
}

title {
    display: none;
}

/* Links */
form {
    display: block;
    margin-top: 0em;
}

/* Lists */
li {
    display: list-item;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }